@charset "utf-8";
/* CSS Document */

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

@font-face {
	font-family: 'Arimo', 'sans-serif';	
}

a{
	font-family: 'Arimo', 'sans-serif';	
	text-decoration:none;
	font-size:31px;
	font-weight:bold;
	/*text-shadow:#666 2px 2px 5px;*/
	color:#FFF;
}



/*-------------------- INICIO CÓDIGO----------------- */

body{
	/*background-image: url(../images/BGIntro.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

#Contenedor p{
	float:left;
	font-family: 'Arimo', 'sans-serif';
	font-size:19px;
	font-weight:bold;
	color: #79a0d0;
	text-align: left;
	width:90%;
	margin-left:2%;
	margin-right:2%;
	padding-right:2%;
	padding-left:4%;
	margin-top: 13px;
}






#Contenedor li{
	float:left;
	width:100%;
	height:34px;
	background-color:#d9ebf7;
	opacity:0.6;
	margin-top:0px;
	margin-left:0px;
	padding-top:10px;
	padding-left:20px;
	font-family: 'Arimo', 'sans-serif';
	font-size:17px;
	color:#3f9dd9;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border: none;
	display:inline-block;
	width:90%;
	margin-top:2%;
	margin-left:2%;
	margin-right:2%;
	padding-right:2%;
	padding-left:4%;
}

#Contenedor a{
	font-size:17px;
	color:#236494;
	text-shadow:none;
    display: block;
}





#btUnirse{
	width:100%;
	height:50px;
	margin-top:31px;
	margin-left:0px;
	background-color:#2f80bc;
	border-color:#42afdd 4px 2px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
	border-top:solid #24B7D0;
	display:inline-block;
	box-shadow:#999 2px 2px 5px;
	text-align:center;
}
#btUnirse a{
	width:100%px;
	height:68px;
	padding-top:12px;
	display:inline-block;
	text-align:center;
	font-family: 'Arimo', 'sans-serif';
	font-size:21px;
	text-shadow:#333 2px 2px 5px;
}

#btRegistro{
	width:88%;
	max-width:360px;
	height:34px;
	margin-top:31px;
	margin-left:0px;
	background-color:#2f80bc;
	/*border-color:#42afdd 4px 2px;*/
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
	display:inline-block;
	box-shadow:#999 2px 2px 5px;
	text-align:center;
}
#btRegistro a{
	width:100%px;
	height:68px;
	padding-top:4px;
	display:inline-block;
	text-align:center;
	font-family: 'Arimo', 'sans-serif';
	font-size:21px;
	text-shadow:#333 2px 2px 5px;
}
